/linters/.tox/
/linters/.mypy_cache/
/pkg/arch/pkg/
/pkg/arch/src/
/pkg/arch/v*.tar.gz
/pkg/arch/ustreamer-*.pkg.tar.xz
/pkg/arch/ustreamer-*.pkg.tar.zst
/src/build/
/src/*.bin
/python/build/
/ustreamer
/ustreamer-dump
/config.mk
/vgcore.*
/*.sock
*.so
