
config ustreamer
	option enabled '0'

	option device '/dev/video0'
	option device_timeout '5'
	option input '0'

	option resolution '640x480'
	option format 'YUYV'
	option quality '80'
	option desired_fps '0'
	option encoder 'CPU'

	option host '::'
	option port '8080'
	option static ''
	option user ''
	option password ''
